node_modules
.next
out
dist
build
coverage
.env*
.vscode
.DS_Store
.idea
*.log
*.lock
*.sqlite
*.db
.cache
*.pnp.*
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnpm-debug.log*
pnpm-lock.yaml
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
*.tsbuildinfo
*.swp
*.swo
*.bak
*.tmp
*.orig
*.rej
*.rej.*
*.class
*.war
*.jar
*.iml