@import 'tailwindcss';

:root {
    --puck-font-family:
        var(--font-open-sans), system-ui, -apple-system, BlinkMacSystemFont,
        'Segoe UI', sans-serif !important;
}

body {
    margin: 0;
    font-family:
        var(--font-open-sans),
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        sans-serif;
}
/* h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: normal !important;
    font-weight: normal !important;
} */

h1 {
    margin: 1.25rem 0 1.25rem;
}

h2 {
    margin: 1rem 0 1rem;
}

h3 {
    margin: 0.75rem 0 0.75rem;
}

h4,
h5,
h6 {
    margin: 0.5rem 0 0.5rem;
}
p {
    font-size: larger !important;
}
